.ui-movieDisplay-movieCard-wrapper {
    border: 2px solid black;
    min-width: 300px;
    max-width: 300px;
    min-height: 600px;
    max-height: 600px;
    margin: 20px;
}

.ui-movieDisplay-movieCard-wrapper:hover {
    z-index: 2;
    cursor: pointer;
    background-color: rgba(90, 202, 230, 0.329);
}